body {
	background-color: var(--invert-color);
	color: var(--primary-color);
}

input[type="button"] {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	padding: 5px 7px;
	cursor: pointer;
	display: inline-block;
	background: var(--invert-color);
}

#camera-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	z-index: 2;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

#camera-view {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
}