:root {
	--primary-color: orange;
	--hover-color: white;
	--invert-color: black;
	--alert-color: #ff2a2a;
}

body {
	background: radial-gradient(circle, #22160a 0%, #0f0a02 100%);
	background-attachment: fixed;
	overflow: hidden;
}

*:focus {
	outline: 0;
}

/* MARK: :overlay */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}

.overlay > span {
	border: 1px solid var(--primary-color);
	padding: 10px;
	font-size: 1.2em;
}

/* MARK: :inputs */
.btn {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	padding: 5px 7px;
	cursor: pointer;
	display: inline-block;
}

.btn.alert {
	border-color: var(--alert-color);
	color: var(--alert-color);	
}

.btn:hover:not(.enabled) {
	background-color: var(--hover-color);
	color: var(--invert-color);
	border-color: var(--hover-color);
}

.btn.enabled {
	background-color: var(--primary-color);
	color: var(--invert-color);
}

input[type="text"] {
	padding: 5px;
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	color: var(--invert-color);
	width: 500px;
}

input[type="text"]:focus {
	border-style: dashed;
	color: var(--primary-color);
	background: transparent;
}

/* MARK: :main */
#main-grid {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#main-grid-nav {
	border-bottom: 1px solid var(--primary-color);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#main-grid-nav-buttons {
	display: flex;
	gap: 5px;
}

#main-grid-status {
	border-top: 1px solid var(--primary-color);
	display: flex;
	justify-content: space-evenly;
}

#main-grid-status > div {
	border-right: 1px solid var(--primary-color);
	padding: 5px 10px;
	display: flex;
	justify-content: center;
}

#main-grid-status > div:last-child {
	width: 100%;
	border-right: none;
}

#main-grid-status-socket-state {
	width: 180px;
}

#main-grid-content {
	height: 100%;
	padding: 20px;
}

/* MARK: :modal */
.modal {
	border: 1px solid var(--alert-color);
	width: 600px;
}

.modal-title {
	background: var(--alert-color);
	color: var(--invert-color);
	padding: 10px;
}

.modal-message {
	padding: 20px;
	padding-bottom: 10px;
	color: var(--alert-color);
}

.modal-buttons {
	padding: 10px;
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
}