:root {
	--primary-color: #ffa500;
	--hover-color: #ffffff;
	--invert-color: #000000;
	--alert-color: #ff2a2a;
	--active-color: #4bf34b;
}

body {
	background: radial-gradient(circle, #22160a 0%, #0f0a02 100%);
	background-attachment: fixed;
	overflow: hidden;
}

*:focus {
	outline: 0;
}

* {
	box-sizing: border-box;
	scrollbar-color: var(--primary-color) transparent;
}

/*
	MARK: :generic
*/
h1 {
	margin: 0;
}

.spacer {
	height: 10px;
}

/*
	MARK: :overlay
*/
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}

.overlay > span {
	border: 1px solid var(--primary-color);
	background: var(--invert-color);
	padding: 20px;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.loader {
	width: 24px;
	height: 24px;
	border: 1px solid var(--primary-color);
	border-radius: 50%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid;
	border-color: var(--hover-color) transparent;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} 

/*
	MARK: :inputs
*/
.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

label {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

label.inline {
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.button-tray {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

input[type="button"] {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	padding: 5px 7px;
	cursor: pointer;
	display: inline-block;
	background: transparent;
}

input[type="button"].active {
	border-color: var(--active-color);
	color: var(--active-color);
}

input[type="button"].alert {
	border-color: var(--alert-color);
	color: var(--alert-color);	
}

input[type="button"]:hover:not(.enabled) {
	background-color: var(--hover-color);
	color: var(--invert-color);
	border-color: var(--hover-color);
}

input[type="button"]:hover.active {
	background-color: var(--active-color);
	border-color: var(--active-color);
}

input[type="button"].enabled {
	background-color: var(--primary-color);
	color: var(--invert-color);
}

input[type="text"], input[type="number"] {
	padding: 5px;
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	color: var(--invert-color);
	width: 100%;
}

input[type="text"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]) {
	border-style: dashed;
	color: var(--primary-color);
	background: transparent;
}

input[type="text"][readonly], input[type="number"][readonly] {
	cursor: default;
}

input[type="checkbox"] {
	position: relative;
	background-color: var(--invert-color);
	accent-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	appearance: none;
	width: 12px;
	height: 12px;
}

input[type="checkbox"]:checked {
	background-color: var(--active-color);
	border-color: var(--active-color);
}

/*
	MARK: :listbox
*/
.listbox {
	border: 1px solid var(--primary-color);
	overflow-y: scroll;
}

.listbox span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listbox > div {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
}

.listbox > div:hover:not(.selected) {
	color: var(--invert-color);
	background-color: var(--hover-color);
	cursor: pointer;
}

.listbox > div.selected {
	background-color: var(--primary-color);
}

.listbox > div.selected span, .listbox > div.active span {
	color: var(--invert-color);
}

.listbox > div.active {
	background-color: var(--active-color);
}

.listbox > div.selected.active {
	background: repeating-linear-gradient(45deg, var(--primary-color), var(--primary-color) 20px, var(--active-color) 20px, var(--active-color) 40px);
}

/*
	MARK: :main
*/
#main-grid {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#main-grid-nav {
	border-bottom: 1px solid var(--primary-color);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#main-grid-nav-buttons {
	display: flex;
	gap: 5px;
}

#main-grid-status {
	border-top: 1px solid var(--primary-color);
	display: flex;
	justify-content: space-evenly;
}

#main-grid-status > div {
	border-right: 1px solid var(--primary-color);
	padding: 5px 10px;
	display: flex;
	justify-content: center;
}

#main-grid-status > div:last-child {
	width: 100%;
	border-right: none;
}

#main-grid-status-socket-state {
	width: 180px;
}

#main-grid-content {
	height: 100%;
}

/*
	MARK: :modal
*/
.modal {
	border: 1px solid var(--alert-color);
	width: 600px;
	background: var(--invert-color);
}

.modal-title {
	background: var(--alert-color);
	color: var(--invert-color);
	padding: 10px;
}

.modal-message {
	padding: 20px;
	padding-bottom: 10px;
	color: var(--alert-color);
}

.modal-buttons {
	padding: 10px;
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
}

/*
	MARK: :panel
*/
.panel-split {
	display: grid;
	grid-template-columns: 50% 50%;
	height: 100%;
}

.panel-split > div {
	padding: 20px;
	border-right: 1px solid var(--primary-color);
}

.panel-split > div:last-child {
	border-right: none;
}

.panel-split-alt {
	grid-template-rows: 1fr auto;
}

.panel-split-compact {
	grid-template-columns: auto 1fr;
}

/*
	MARK: :playback
*/
.playback-panel {
	border-top: 1px solid var(--primary-color);
	grid-row: 2;
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 20px !important;
	gap: 10px;
}

#playback-bar-row {
	width: 100%;
}

#playback-bar {
	border: 1px solid var(--primary-color);
	height: 30px;
	width: 100%;
	cursor: pointer;
}

#playback-bar-fill {
	height: 100%;
	background-color: var(--primary-color);
}

#playback-info {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

/*
	MARK: :zone editor
*/
.zone-editor canvas {
	width: 100%;
	height: 100%;
	border: 1px dashed var(--primary-color);
}

.zone-editor {
	position: relative;
	overflow: hidden;
}

.zone-editor-point {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: var(--hover-color);
	border: 2px solid var(--invert-color);
	cursor: all-scroll;
	z-index: 5;
	transform: translate(-50%, -50%);
}

.point-corner {
	background-color: var(--active-color);
}

.point-rotate {
	background-color: var(--primary-color);
}

/*
	MARK: :config
*/
#config-panel {
	padding: 20px;
}