:root {
	--primary-color: #ffa500;
	--hover-color: #ffffff;
	--invert-color: #000000;
	--alert-color: #ff2a2a;
	--active-color: #4bf34b;
	--tertiary-color: #800080;
}

@font-face {
	font-family: 'TXTerminal';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/TXTerminal.woff2) format('woff2');
}

* {
	font-family: "TXTerminal", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: orange;
	font-size: 20px;
}

body {
	user-select: none;
}

[v-cloak] {
	display: none;
}