#container {
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.zone {
	position: absolute;
	object-fit: cover;
}

img.zone {
	object-fit: contain;
}

#black-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	transition: opacity 3s;
	opacity: 0;
	background: black;
}

#test-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 19;
	opacity: 0;
	background-image: url(../images/test_screen.png);
	background-repeat: no-repeat;
	background-size: cover;
}