body {
	background: var(--invert-color);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}

.overlay > span {
	border: 1px solid var(--primary-color);
	background: var(--invert-color);
	padding: 20px;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#blackout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 19;
	transition: opacity 2s;
	opacity: 0;
	background: black;
}

#test-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 18;
	display: none;
	background-image: url(../images/test_screen.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.mask-overlay {
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 17;
	mask-mode: luminance;
	mask-size: contain;
}