body {
	background: radial-gradient(circle, #22160a 0%, #0f0a02 100%);
	background-attachment: fixed;
	padding-top: 80px;
	padding-bottom: 80px;
}

*:focus {
	outline: 0;
}

* {
	box-sizing: border-box;
	scrollbar-color: var(--primary-color) transparent;
}

select::-webkit-scrollbar {
	scrollbar-color: var(--primary-color) var(--invert-color);
}

#track-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#track-list > div {
	border: 1px solid var(--primary-color);
	padding: 10px;
	width: 100%;
}

#track-list > div.active {
	background: var(--primary-color);
	color: var(--invert-color);
}

#button-tray {
	background: var(--invert-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px;
	display: flex;
	gap: 10px;
}

input[type="button"] {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	padding: 5px 7px;
	cursor: pointer;
	display: inline-block;
	background: transparent;
}

#status-tray {
	background: var(--invert-color);
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	display: flex;
	gap: 10px;
}