<!DOCTYPE html>
<html>
	<head>
		<title>KruLabs v3 :: Controller</title>
		<link rel="icon" type="image/png" href="/meta/favicon-96x96.png" sizes="96x96"/>
		<link rel="icon" type="image/svg+xml" href="/meta/favicon.svg" />
		<link rel="shortcut icon" href="/meta/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="KruLabs" />
		<link rel="manifest" href="/meta/site.webmanifest" />
		<link rel="stylesheet" type="text/css" href="./style/global.css">
		<link rel="stylesheet" type="text/css" href="./style/controller.css">
		<script src="./scripts/controller.js" type="module"></script>
	</head>
	<body>
		<div id="app">
			<div v-if="false" class="overlay">
				<span>
					<span class="loader"></span>
					INITIALIZING KRULABS V3
				</span>
			</div>
			<div v-cloak>
				<div v-if="loading_message.length > 0" class="overlay">
					<span>
						<span class="loader"></span>
						{{ loading_message }}
					</span>
				</div>
				<div id="modal-overlay" class="overlay" v-if="modal_is_active">
					<div class="modal">
						<div class="modal-title">{{ modal_title }}</div>
						<div class="modal-message">{{ modal_message }}</div>
						<div class="modal-buttons">
							<template v-if="modal_type === 'CONFIRM'">
								<input type="button" class="alerthandle_packet" @click="modal_cancel" value="CANCEL"/>
								<input type="button" class="alert" @click="modal_confirm" value="CONFIRM"/>
							</template>
							<template v-else-if="modal_type === 'OK'">
								<input type="button" class="alert" @click="modal_cancel" value="OK"/>
							</template>
						</div>
					</div>
				</div>
				<div id="main-grid">
					<div id="main-grid-nav">
						<span>> KruLabs v2 :: {{ project_state.name }}</span>
						<div id="main-grid-nav-buttons">
							<input type="button" v-for="page in nav_pages" :class="{ enabled: nav_page === page }" @click="nav_page = page" :value="page.toUpperCase()"/>
						</div>
					</div>
					<div id="main-grid-content">
						<template v-if="nav_page === 'project'">
							<div class="panel-split">
								<div>
									<h1>AVAILABLE PROJECTS</h1>
									<div class="spacer"></div>
									<listbox-component :items="available_projects_sorted">
										<template v-slot="{ item }">
											<div :class="{ selected: selected_project_id === item.id }" @click="selected_project_id = item.id">
												<span>{{ item.name }}</span>
												<span>{{ format_datetime(item.last_saved) }}</span>
											</div>
										</template>
									</listbox-component>
									<div class="spacer"></div>
									<div class="button-tray">
										<input type="button" value="NEW" @click="save_project"/>
										<input type="button" value="LOAD" @click="load_selected_project"/>
										<input type="button" value="SAVE" @click="save_selected_project"/>
										<input type="button" value="DELETE" @click="delete_selected_project"/>
									</div>
								</div>
								<div>
									<div class="form">
										<label>
											PROJECT NAME:
											<input type="text" v-model="project_state.name"/>
										</label>
										<label>
											VOLUME FADE TIME (MS):
											<input type="number" v-model="project_state.vol_fade_time"/>
										</label>
									</div>
								</div>
							</div>
						</template>
						<template v-else-if="nav_page === 'cues'">
							<div class="panel-split panel-split-alt">
								<div>
									<template v-if="edit_mode === 'CUE' && selected_cue">
										<div class="form">
											<label>
												CUE NAME:
												<input type="text" v-model="selected_cue.name"/>
											</label>
											<label>
												CUE TIME:
												<time-input :value="selected_cue.time" @updated="selected_cue.time = $event" include-ms></time-input>
											</label>
											<label>
												CUE EVENT TYPE:
												<select v-model="selected_cue.event_type">
													<option v-for="[event_id, labels] in Object.entries(CEV_LABELS)" :value="event_id">{{ labels.long }}</option>
												</select>
											</label>
											<!-- CUE EVENT: GOTO -->
											<template v-if="selected_cue.event_type == 0x3">
												<label>
													[EVENT] TARGET CUE NAME
													<input type="text" v-model="selected_cue.event_meta.target_name"/>
												</label>
											</template>
											<div class="spacer"></div>
											<div class="button-tray">
												<input type="button" value="RETURN TO TRACKS" @click="edit_mode = 'NONE'"/>
											</div>
										</div>
									</template>
									<template v-else>
										<h1>TRACKS</h1>
										<div class="spacer"></div>
										<listbox-component :items="project_state.tracks">
											<template v-slot="{ item, index }">
												<div :class="{ selected: selected_track === item }" @click="selected_track = item">
													<span>{{ format_index(index) + ' ' + item.name }}</span>
													<span>{{ format_timespan(item.duration) }}</span>
												</div>
											</template>
										</listbox-component>
										<div class="spacer"></div>
										<div class="button-tray">
											<input type="button" value="ADD" @click="track_add"/>
											<input type="button" value="DELETE" @click="track_delete"/>
											<input type="button" value="EDIT" @click="edit_mode = 'TRACK'"/>
											<input type="button" value="UP" @click="track_move_up"/>
											<input type="button" value="DOWN" @click="track_move_down"/>
										</div>
									</template>
								</div>
								<div>
									<template v-if="edit_mode === 'TRACK' && selected_track">
										<div class="form">
											<label>
												TRACK NAME:
												<input type="text" v-model="selected_track.name"/>
											</label>
											<div class="spacer"></div>
											<div class="button-tray">
												<input type="button" value="RETURN TO CUES" @click="edit_mode = 'NONE'"/>
											</div>
										</div>
									</template>
									<template v-else>
										<h1>CUES</h1>
										<div class="spacer"></div>
										<listbox-component :items="cue_stack_sorted">
											<template v-slot="{ item, index }">
												<div :class="{ selected: selected_cue === item, active: playback_time >= item.time }" @click="selected_cue = item">
													<span>{{ format_index(index) + ' ' + CEV_LABELS[item.event_type].short + ' ' + item.name }}</span>
													<span>{{ format_timespan_ms(item.time) }}</span>
												</div>
											</template>
										</listbox-component>
										<div class="spacer"></div>
										<div class="button-tray">
											<input type="button" value="GOTO" @click="cue_goto(selected_cue)"/>
											<input type="button" value="ADD" @click="cue_add"/>
											<input type="button" value="DELETE" @click="cue_delete"/>
											<input type="button" value="EDIT" @click="edit_mode = 'CUE'"/>
											<input type="button" value="MOVE" @click="cue_move"/>
										</div>
									</template>
								</div>
								<div class="playback-panel">
									<div id="playback-info">
										<span>CT {{ playback_current_time }}</span>
										<span>CR {{ playback_remaining_time }}</span>
										<span>TR {{ playback_total_remaining }}</span>
									</div>
									<div id="playback-bar-row">
										<div id="playback-bar" @click="handle_playback_seek">
											<div id="playback-bar-fill" :style="{ width: (playback_factor * 100) + '%' }"></div>
											<template v-if="selected_track">
												<div class="playback-bar-cue" v-for="cue in cue_stack_sorted" :style="{ left: (cue.time / selected_track.duration) * 100 + '%' }"></div>
											</template>
										</div>
									</div>
									<div>
										<div class="button-tray">
											<input type="button" data-key-bind="F1" title="F1" value="GO" @click="playback_go" :class="{ active: playback_live }"/>
											<input type="button" data-key-bind="F2" title="F2" value="HOLD" @click="playback_hold" :class="{ active: !playback_live }"/>
											<input type="button" data-key-bind="F3" title="F3" value="RESET" @click="playback_reset"/>
											<input type="button" data-key-bind="F5" title="F5" value="LOOP" @click="playback_mode = 'LOOP'" :class="{ active: playback_mode == 'LOOP' }"/>
											<input type="button" data-key-bind="F6" title="F6" value="AUTO TRK" @click="playback_mode = 'AUTO_TRACK'" :class="{ active: playback_mode == 'AUTO_TRACK' }"/>
											<input type="button" data-key-bind="F7" title="F7" value="AUTO GO" @click="playback_mode = 'AUTO_GO'" :class="{ active: playback_mode == 'AUTO_GO' }"/>
											<input type="button" data-key-bind="F8" title="F8" value="F-HOLD" @click="vol_fade_hold" :class="{ active: vol_fade_active }"/>
											<input type="button" data-key-bind="F9" title="F9" value="F-OUT" @click="vol_fade_out" :class="{ active: vol_fade_active }"/>
											<input type="button" data-key-bind="F10" title="F10" value="F-BACK" @click="vol_fade_back" :class="{ active: vol_fade_active }"/>
											<input-slider text="VOLUME" :value="project_state.playback_volume" @updated="project_state.playback_volume = $event"></input-slider>
										</div>
									</div>
								</div>
							</div>
						</template>
						<template v-else-if="nav_page === 'config'">
							<div id="config-panel">
								<div class="form">
									<h1>General Configuration</h1>
									<label class="inline">
										<input type="checkbox" v-model="config.confirm_track_deletion"/>
										Require confirmation when deleting tracks?
									</label>
									<label class="inline">
										<input type="checkbox" v-model="config.confirm_cue_deletion"/>
										Require confirmation when deleting cues?
									</label>
								</div>
								<div class="form">
									<h1>OBS Studio Integration</h1>
									<label class="inline">
										<input type="checkbox" v-model="config.obs_enable"/>
										Enable OBS Studio Integration
									</label>
									<label>
										OBS Host
										<input type="text" v-model="config.obs_host"/>
									</label>
									<label>
										OBS Password
										<input type="password" v-model="config.obs_password"/>
									</label>
								</div>
							</div>
						</template>
					</div>
					<div id="main-grid-status">
						<div>{{ socket_state_text }}</div>
						<div>{{ server_addr }}</div>
						<div>{{ connected_clients_formatted }}</div>
						<div>{{ local_time_formatted }}</div>
						<template v-if="config.obs_enable">
							<div v-if="obs_status == 0" class="text-active">OBS CONNECTED</div>
							<div v-else class="text-err">OBS DISCONNECTED [{{ obs_status > -1 ? obs_status : 'N/A' }}]</div>
						</template>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>