<!DOCTYPE html>
<html>
	<head>
		<title>KruLabs :: Controller</title>
		<link rel="stylesheet" type="text/css" href="./style/global.css">
		<link rel="stylesheet" type="text/css" href="./style/controller.css">
		<script src="./scripts/controller.js" type="module"></script>
	</head>
	<body>
		<div id="app">
			<div id="loading" v-if="false">
				<div class="loading-ring"></div>
			</div>
			<div v-cloak>
				<div id="header-section">
					<div id="header">
						<span id="header-title">KruLabs</span>
						<span id="header-scene-title">{{ production_name }} - {{ active_scene_name }}</span>
						<span id="header-buttons">{{ is_live_go ? 'LIVE' : 'HOLD' }}</span>
					</div>
					<div v-if="page === 'MAIN'" class="button-tray">
						<input type="button" value="SCENE" @click="show_page('SCENE_SELECT')">
						<input v-if="is_live_go" type="button" value="HOLD" @click="live_hold" class="button-cancel">
						<input v-else type="button" value="GO LIVE" @click="live_go">
						<input type="button" value="CUE LOCK" :class="{ 'button-cancel': is_cue_lock }" @click="is_cue_lock = !is_cue_lock">
						<input type="button" value="FADE TO HOLD" @click="fade_to_hold" :class="{ 'button-cancel': is_live_go && is_fading }">
						<input type="button" value="FADE TO HOLD QUICK" @click="fade_to_hold_quick" :class="{ 'button-cancel': is_live_go && is_fading }">
						<input type="button" value="FADE IN" @click="fade_in">
						<input type="button" value="FADE OUT" @click="fade_out">
					</div>
				</div>
				<div id="content-section">
					<div v-if="page === 'MAIN'">
						<div class="cue-stack">
							<div class="cue" v-for="(cue, index) in cue_stack" @click="live_seek(cue.position)" :class="{ passed: is_cue_triggered(cue.position), hold: cue.type == 'HOLD', live: cue_stack_index > index }">
								<div class="cue-title">{{ cue.name }}</div>
								<div class="cue-time">{{ render_cue_time(cue.position) }}</div>
							</div>
						</div>
					</div>
					<div v-else-if="page === 'SCENE_SELECT'">
						<div class="button-ladder">
							<input type="button" v-for="scene of scenes" :value="scene" @click="select_scene(scene); show_page('MAIN');">
							<input type="button" value="TEST SCREEN" @click="select_scene('TEST_SCREEN'); show_page('MAIN');">
							<input type="button" value="Cancel" @click="show_page('MAIN')" class="button-cancel">
						</div>
					</div>
				</div>
				<div id="error-block" v-if="error_text.length > 0">
					{{ error_text }}
				</div>
				<div id="footer-section">
					<div id="live-time" :class="{ live: is_live_go }">{{ formatted_live_time }}</div>
					<div @click="toggle_timer()" :class="{ live: timer_active }">{{ formatted_timer_time }}</div>
					<div>{{ formatted_real_time }}</div>
				</div>
			</div>
		</div>
	</body>
</html>