<!DOCTYPE html>
<html>
	<head>
		<title>KruLabs v3 :: Grid</title>
		<link rel="icon" type="image/png" href="/meta/favicon-96x96.png" sizes="96x96"/>
		<link rel="icon" type="image/svg+xml" href="/meta/favicon.svg" />
		<link rel="shortcut icon" href="/meta/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="KruLabs" />
		<link rel="manifest" href="/meta/site.webmanifest" />
		<link rel="stylesheet" type="text/css" href="./style/global.css">
		<link rel="stylesheet" type="text/css" href="./style/grid.css">
		<script src="./scripts/grid.js" type="module"></script>
	</head>
	<body>
		<div id="app">
			<div v-if="false" class="overlay">
				<span>
					<span class="loader"></span>
					INITIALIZING KRULABS V3
				</span>
			</div>
			<div v-cloak>
				<div v-if="loading_message.length > 0" class="overlay">
					<span>
						<span class="loader"></span>
						{{ loading_message }}
					</span>
				</div>
				<div id="modal-overlay" class="overlay" v-if="modal_is_active">
					<div class="modal">
						<div class="modal-title">{{ modal_title }}</div>
						<div class="modal-message">{{ modal_message }}</div>
						<div class="modal-buttons">
							<template v-if="modal_type === 'CONFIRM'">
								<input type="button" class="alerthandle_packet" @click="modal_cancel" value="CANCEL"/>
								<input type="button" class="alert" @click="modal_confirm" value="CONFIRM"/>
							</template>
							<template v-else-if="modal_type === 'OK'">
								<input type="button" class="alert" @click="modal_cancel" value="OK"/>
							</template>
						</div>
					</div>
				</div>
				<div id="main-grid">
					<div id="main-grid-nav">
						<span>> KruLabs v3 :: {{ project_state.name }}</span>
						<div id="main-grid-nav-buttons">
							<template v-if="nav_page == 'grid'">
								<input id="grid-column-field" type="number" v-model="project_state.grid_columns"/>
							</template>
							<input type="button" v-for="page in nav_pages" :class="{ enabled: nav_page === page }" @click="nav_page = page" :value="page.toUpperCase()"/>
						</div>
					</div>
					<div id="main-grid-content">
						<template v-if="nav_page === 'project'">
							<div class="panel-split">
								<div>
									<h1>AVAILABLE PROJECTS</h1>
									<div class="spacer"></div>
									<listbox-component :items="available_projects_sorted">
										<template v-slot="{ item }">
											<div :class="{ selected: selected_project_id === item.id }" @click="selected_project_id = item.id">
												<span>{{ item.name }}</span>
												<span>{{ format_datetime(item.last_saved) }}</span>
											</div>
										</template>
									</listbox-component>
									<div class="spacer"></div>
									<div class="button-tray">
										<input type="button" value="NEW" @click="save_project"/>
										<input type="button" value="LOAD" @click="load_selected_project"/>
										<input type="button" value="SAVE" @click="save_selected_project"/>
										<input type="button" value="DELETE" @click="delete_selected_project"/>
									</div>
								</div>
								<div>
									<div class="form">
										<label>
											PROJECT NAME:
											<input type="text" v-model="project_state.name"/>
										</label>
									</div>
								</div>
							</div>
						</template>
						<template v-else-if="nav_page === 'grid'">
							<div id="grid">
								<div id="grid-tabs" :style="{ gridTemplateColumns: 'repeat(' + project_state.tabs.length + ', 1fr)' }">
									<input type="button" v-for="tab of project_state.tabs" :class="{ enabled: active_tab === tab }" @click="active_tab = tab" :value="tab.name"/>
								</div>
								<div id="grid-buttons" v-if="active_tab" :style="{ gridTemplateColumns: 'repeat(' + project_state.grid_columns + ', 1fr)' }">
									<input type="button" v-for="button of active_tab.buttons" :class="{ enabled: button.meta.active }" @mousedown="handle_button_down(button)" @mouseup="handle_button_up(button)" @touchstart="handle_button_down(button)" @touchend="handle_button_up(button)" :value="button.name">
								</div>
							</div>
						</template>
						<template v-else-if="nav_page === 'tabs'">
							<div class="panel-split panel-split-alt">
								<div>
									<template v-if="edit_mode === 'BUTTON' && selected_button">
										<div class="form">
											<label>
												BUTTON NAME:
												<input type="text" v-model="selected_button.name"/>
											</label>
											<label>
												BUTTON TYPE:
												<select v-model="selected_button.type">
													<option v-for="[button_type, info] in Object.entries(BUTTON_TYPES)" :value="button_type">{{ info.label }}</option>
												</select>
											</label>
											<!-- BUTTON TYPE NORMAL -->
											<template v-if="selected_button.type == 0x1">
												<label>
													SCRIPT:
													<textarea v-model="selected_button.meta.script"></textarea>
												</label>
											</template>
											<!-- BUTTON TYPE TOGGLE / TOUCH -->
											<template v-if="selected_button.type == 0x2 || selected_button.type == 0x3">
												<label>
													SCRIPT IN:
													<textarea v-model="selected_button.meta.script_in"></textarea>
												</label>
												<label>
													SCRIPT OUT:
													<textarea v-model="selected_button.meta.script_out"></textarea>
												</label>
											</template>
											<div class="spacer"></div>
											<div class="button-tray">
												<input type="button" value="RETURN TO TABS" @click="edit_mode = 'NONE'"/>
											</div>
										</div>
									</template>
									<template v-else>
										<h1>TABS</h1>
										<div class="spacer"></div>
										<listbox-component :items="project_state.tabs">
											<template v-slot="{ item, index }">
												<div :class="{ selected: selected_tab === item }" @click="selected_tab = item">
													<span>{{ format_index(index) + ' ' + item.name }}</span>
													<span>{{ item.buttons.length }} Items</span>
												</div>
											</template>
										</listbox-component>
										<div class="spacer"></div>
										<div class="button-tray">
											<input type="button" value="ADD" @click="tab_add"/>
											<input type="button" value="DELETE" @click="tab_delete"/>
											<input type="button" value="EDIT" @click="edit_mode = 'TAB'"/>
											<input type="button" value="DUPE" @click="tab_duplicate"/>
											<input type="button" value="UP" @click="tab_move_up"/>
											<input type="button" value="DOWN" @click="tab_move_down"/>
										</div>
									</template>
								</div>
								<div>
									<template v-if="edit_mode === 'TAB' && selected_tab">
										<div class="form">
											<label>
												TAB NAME:
												<input type="text" v-model="selected_tab.name"/>
											</label>
											<div class="spacer"></div>
											<div class="button-tray">
												<input type="button" value="RETURN TO BUTTONS" @click="edit_mode = 'NONE'"/>
											</div>
										</div>
									</template>
									<template v-else>
										<h1>TABS</h1>
										<div class="spacer"></div>
										<listbox-component :items="current_tab_buttons">
											<template v-slot="{ item, index }">
												<div :class="{ selected: selected_button === item }" @click="selected_button = item">
													<span>{{ format_index(index) + ' ' + item.name }}</span>
													<span>{{ item.commands.length }} Cmds</span>
												</div>
											</template>
										</listbox-component>
										<div class="spacer"></div>
										<div class="button-tray">
											<input type="button" value="ADD" @click="button_add"/>
											<input type="button" value="DELETE" @click="button_delete"/>
											<input type="button" value="EDIT" @click="edit_mode = 'BUTTON'"/>
											<input type="button" value="DUPE" @click="button_duplicate"/>
											<input type="button" value="UP" @click="button_move_up"/>
											<input type="button" value="DOWN" @click="button_move_down"/>
										</div>
									</template>
								</div>
							</div>
						</template>
						<template v-else-if="nav_page === 'integrations'">
							<div class="panel-split panel-split-alt">
								<div>
									<h1>INTEGRATIONS</h1>
									<div class="spacer"></div>
									<listbox-component :items="project_state.integrations">
										<template v-slot="{ item, index }">
											<div :class="{ selected: selected_integration === item }" @click="selected_integration = item">
												<span>{{ format_index(index) + ' ' + item.name }}</span>
												<span>{{ INTEGRATION_LABELS[item.type] }}</span>
											</div>
										</template>
									</listbox-component>
									<div class="spacer"></div>
									<div class="button-tray">
										<input type="button" value="ADD" @click="integration_add"/>
										<input type="button" value="DELETE" @click="integration_delete"/>
									</div>
								</div>
								<div>
									<div class="form" v-if="selected_integration">
										<label>
											INTEGRATION NAME:
											<input type="text" v-model="selected_integration.name"/>
										</label>
										<label class="inline">
											<input type="checkbox" v-model="selected_integration.enabled"/>
											Integration enabled?
										</label>
										<label>
											INTEGRATION TYPE:
											<select v-model="selected_integration.type">
												<option v-for="[integration_id, label] in Object.entries(INTEGRATION_LABELS)" :value="integration_id">{{ label }}</option>
											</select>
										</label>
										<!-- INTEGRATION OBS -->
										<template v-if="selected_integration.type == 0x1">
											<label>
												OBS HOST:
												<input type="text" v-model="selected_integration.meta.obs_host"/>
											</label>
											<label>
												OBS PORT:
												<input type="number" v-model="selected_integration.meta.obs_port"/>
											</label>
											<label>
												OBS PASSWORD:
												<input type="text" v-model="selected_integration.meta.obs_password"/>
											</label>
										</template>
										<!-- INTEGRATION ETC -->
										<template v-else-if="selected_integration.type == 0x2">
											<label>
												ETC HOST:
												<input type="text" v-model="selected_integration.meta.etc_host"/>
											</label>
											<label>
												ETC PORT:
												<input type="number" v-model="selected_integration.meta.etc_port"/>
											</label>
										</template>
									</div>
								</div>
							</div>
						</template>
					</div>
					<div id="main-grid-status">
						<div>{{ socket_state_text }}</div>
						<div>{{ server_addr }}</div>
						<template v-for="int of project_state.integrations.filter(i => i.type != 0x3)">
							<div v-if="integration_status[int.id]" class="text-active">{{ int.name }} CONNECTED</div>
							<div v-else class="text-err">{{ int.name }} DISCONNECTED</div>
						</template>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>